
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-size: 1.8rem;
}

h1{
  font-size: 5rem;
}

.app{
  width: 100%;
  height: 48rem;
  position: relative;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  margin: 0%;
  padding: 0%;
}

.app{
  content: '';
  background: url('./imp/background.jpg') no-repeat center/cover;
  position: absolute;
  transition: 0.5 case-out;
  width: 100%;
  height: 49rem;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 0%;
  margin: 0%;
}

.app.cold{
  background: url('./imp/cold.jpg') no-repeat center/cover;
}

.app.clouds{
  background: url('./imp/clouds.jpg') no-repeat center/cover;
}

.app.mist{
  background: url('./imp/mist.jpg') no-repeat center/cover;
}

.app.rain{
  background: url('./imp/rain.jpg') no-repeat center/cover;
}

.app.clear{
  background: url('./imp/clear.jpg') no-repeat center/cover;
}

.app.haze{
  background: url('./imp/haze.jpg') no-repeat center/cover;
}

.app .search{
  text-align: center;
  padding: 1rem;
}

.app input{
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255,0.8);
  background: rgba(41, 16, 16, 0.1);
  color: #f8f8f8;
}

::placeholder{
  color: #f8f8f8;
}

.main{
  max-width: 95%;
  max-height: 75%;
  height: 43rem;
  width: 39rem;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top{
  width: 100%;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
  margin: 1rem auto;

}

.app .description{
  position: relative;
}

.app .bottom{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(17, 15, 15, 0.485);
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}

.bold{
  font-weight: 600;
}